<div class="flex items-start justify-evenly">
  <iframe
    [src]="gameURL | safe"
    width="960"
    height="700"
    frameborder="0"
    webkitallowfullscreen
    mozallowfullscreen
    allowfullscreen
  >
  </iframe>
  <div>
    <p class="text-4xl text-center text-white">OUR REVIEWS :</p>
    <div class="w-full flex justify-center my-3">
      <app-svg-icon
        [icon]="'arrow'"
        class="transform -rotate-45"
      ></app-svg-icon>
    </div>
    <div *ngIf="reviews === null">
      <p class="text">No reviews added for now</p>
    </div>
    <div *ngIf="reviews !== null" class="reviews overflow-y-scroll">
      <div
        *ngFor="let item of reviews; let i = index"
        class="bg-white w-80 h-40 rounded-lg overflow-hidden my-3 p-4"
      >
        <div class="flex w-full justify-between">
          <p class="text">name : pan</p>
          <p class="text">{{ item.rating }}/5</p>
        </div>
        <p class="text">
          {{ item.description }}
        </p>
      </div>
    </div>
    <div class="w-full flex justify-center mt-4">
      <app-svg-icon [icon]="'arrow'" class="transform rotate-45"></app-svg-icon>
    </div>
    <div class="flex justify-center w-full mt-4">
      <button
        (click)="openAddReview()"
        class="w-40 h-20 rounded-xl bg-yellow-400"
      >
        ADD REVIEW
      </button>
    </div>

    <div *ngIf="show && user !== null">
      <div class="w-full max-w-md mt-10">
        <form class="bg-white shadow-md rounded p-14 mb-4 relative">
          <div *ngIf="error" class="my-8">
            <div
              class="absolute left-1/2 transform -translate-x-1/2 w-max top-8 p-2 bg-red-600 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
              role="alert"
            >
              <span
                class="flex rounded-full bg-red-400 uppercase px-2 py-1 text-xs mr-3"
                >ERROR</span
              >
              <span class="font-semibold mr-2 text-left flex-auto">{{
                error
              }}</span>
            </div>
          </div>
          <div class="mb-8">
            <label
              class="block text text-gray-700 font-bold text-sm mb-2"
              for="rating"
            >
              rating
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="rating"
              [ngClass]="{ 'border border-red-600': error }"
              type="text"
              placeholder="rating"
              (keyup)="onKey($event, 'rating')"
            />
            <p *ngIf="!isRatingValid" class="text-red-500 text-xs italic">
              Rating can be number only!
            </p>
          </div>
          <div class="mb-8">
            <label
              class="block text text-gray-700 font-bold text-sm mb-2"
              for="description"
            >
              Description
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="description"
              [ngClass]="{ 'border border-red-600': error }"
              type="description"
              placeholder="description"
              (keyup)="onKey($event, 'description')"
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              class="bg-blue-500 text hover:bg-blue-700 text-white font-bold py-3 px-5 rounded focus:outline-none focus:shadow-outline"
              type="button"
              (click)="addReview()"
            >
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
