<div
  *ngIf="!isLogged"
  class="flex items-center justify-center h-full flex-col text-white"
>
  <p class="text-6xl">YOU ARE NOT LOGGED IN !</p>
  <div class="flex items-center mt-10">
    <button
      class="text-4xl bg-yellow-300 p-5 rounded-3xl mt-5 hover:opacity-70"
      routerLink="/login"
    >
      LOG IN
    </button>
    <p class="text-4xl mt-4 mx-10">OR</p>
    <button
      class="text-4xl bg-yellow-300 p-5 rounded-3xl mt-5 hover:opacity-70"
      routerLink="/signup"
    >
      SIGN UP
    </button>
  </div>
</div>

<div
  *ngIf="isLogged"
  class="flex items-center justify-center h-full flex-col text-white"
>
  <p class="text-6xl" *ngIf="user">
    HI <span class="text-yellow-400">{{ user.username }}</span> !
  </p>
  <p class="text-6xl">HERE ARE THE LATEST ADDITIONS :</p>
  <div class="w-2/3 h-1/2 mt-20">
    <app-carousel></app-carousel>
  </div>
</div>
