<footer
  class="text-center text-white absolute bottom-0 w-full opacity-75"
  style="background-color: #f1f1f1"
>
  <div class="container pt-9 max-w-full">
    <div class="flex justify-center mb-9">
      <a href="#!" class="mr-9 text-blue-500">
        <app-svg-icon [icon]="'facebook'"></app-svg-icon>
      </a>
      <a href="#!" class="mr-9 text-gray-800">
        <app-svg-icon [icon]="'google'"></app-svg-icon>
      </a>
      <a href="#!" class="mr-9 text-gray-800">
        <app-svg-icon [icon]="'instagram'"></app-svg-icon>
      </a>
      <a href="#!" class="mr-9 text-gray-800">
        <app-svg-icon [icon]="'linkedin'"></app-svg-icon>
      </a>
      <a href="#!" class="text-gray-800">
        <app-svg-icon [icon]="'github'"></app-svg-icon>
      </a>
    </div>
  </div>

  <div
    class="text-center text-gray-700 p-4"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2022 Copyright:
    <a class="text-gray-800" routerLink="/home">FlashIT</a>
  </div>
</footer>
